@import "https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap";

body {
  background: #131316;
  color: #fff;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2000px;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.material-symbols-outlined {
  font-size: 200px !important;
  color: #dc5d5d;
}

.ampersen {
  position: absolute;
  font-family: Poppins, sans-serif;
  font-size: 5em;
  color: #dc5d5d;
}

h1,
h2 {
  font-family: Poppins, sans-serif;
  font-weight: 700;
  font-size: 5em;
  text-align: center;
}

p {
  font-family: Poppins, sans-serif;
  font-weight: 300;
  font-size: 3em;
  text-align: center;
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transition: all 1s;
}

.hidden.icon {
  transition-delay: 1s;
}

.hidden-left {
  opacity: 0;
  filter: blur(5px);
  transition: all 1s;
  transform: translateX(-100%);
}

.hidden-right {
  opacity: 0;
  filter: blur(5px);
  transition: all 1s;
  transform: translateX(100%);
}

p {
  transition-delay: 1s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}
